<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Company Employee Details</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'css\secondapp\sample.css' %}">
</head>
<body>
<table class="redTable">
    <tr>
        <th>Unique Id</th>
        <th>Employee Id</th>
         <th>Name</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Email</th>
    </tr>
    <tr>
        {% for emp in employee %}
         <td>{{emp.id}}</td>
        <td>{{emp.employee_id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.phone_number}}</td>
        <td>{{emp.address}}</td>
        <td>{{emp.email}}</td>
        <td><button><a href="/update/{{emp.id}}">Edit</a></button></td>
         <td><button><a href="/deleteemployee/{{emp.id}}">Delete</a></button></td>
    </tr>
    {% endfor %}
</table>
<a href="/addemployee/"><button>Add Employee</button></a>
</body>
</html>